@page "/about"
<PageTitle>About Us</PageTitle>
<div class="row">
    <div class="col-md-4 col-sm-12">
        <Card TextAlignment="Alignment.Start" Style="border: 0px;">
            <CardBody>
                <CardTitle>
                    <i>GloryKidd Technologies LLC</i>
                </CardTitle>
                <CardText>
                    <p style="text-align: justify;">Our mission is to use workflow processes and leverage software to create
            practical IT solutions with the highest standard of excellence to both honor God and provide unparalleled
            customer service for our clients. Let us put you on the digital map, with a complete online presence.</p>
                    <p style="text-align: justify;">Equally as important as building the right statement for your business, is the
            power to deliver that message to the world. GloryKidd Technologies offers a full range of services tailored
            specifically to meet your needs and budget! We cover all the features that our customers expect and need to
            promote their message loud and clear. Hosting plans are tailored to give you the maximum value at a budget
            price.</p>
                </CardText>
            </CardBody>
        </Card>
    </div>
    <div class="col-md-8 col-sm-12">
        <iframe
            style="width: 100%; height: 800px; border-radius: 25px;"
            class="embed-responsive-item"
            src="https://forms.gle/x1k9aoHskYJ1A7VB7"
            allowfullscreen></iframe>
    </div>
</div>

@code
{

}
