@page "/"

<PageTitle>GloryKidd</PageTitle>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <Card TextAlignment="Alignment.Start" Style="border: 0px;">
      <CardBody>
        <image src="images/gk-logo-square.svg" class="image-icon" />
        <CardTitle><i>Who are we?</i></CardTitle>
        <CardText>
          <p style="text-align: justify;">GloryKidd Technologies mission is to leverage the "Best in Breed" technology
            to help spread the Gospel. We will use our skills and talents to this end, and learn new skills to further
            push the envelope whenever possible. We will continue to provide the highest standard of excellence to all
            clients, helping them to achieve their goals. Overall, GloryKidd Technologies will provide the type and
            style of service that will reflect Almighty God in all that we do and say. He is the author and source of
            our talents, so we just cannot do anything less!</p>
        </CardText>
        <div style="width: 100%; text-align: center;">
          <a href="/about" class="text-decoration-none">Learn more&nbsp;&nbsp;
            <Icon Name="IconName.Book" />
          </a>
        </div>
      </CardBody>
    </Card>
  </div>
  <div class="col-md-6 col-sm-12">
    <iframe style="width: 100%; height: 350px; border-radius: 25px;" class="embed-responsive-item"
      src="https://www.youtube.com/embed/pRZ3iggpyYw?autoplay=0&wmode=transparent&controls=0&rel=0&showinfo=0&start=0&enablejsapi=1&origin=https%3A%2F%2Fwww.glorykidd.com&widgetid=1&forigin=https%3A%2F%2Fwww.glorykidd.com%2F&aoriginsup=1&gporigin=https%3A%2F%2Fwww.glorykidd.com%2Fcontact&vf=6"
      allowfullscreen></iframe>
  </div>
</div>
<div class="row">
  <div class="col-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-md-8 col-sm-12">
    <Card TextAlignment="Alignment.Start" Style="border: 0px;">
      <CardBody>
        <CardTitle><i>Custom Software Solutions</i></CardTitle>
        <CardText>
          <p style="text-align: justify;">Creative, pragmatic and technology agnostic, GloryKidd Technologies develops
            exciting and engaging high-performance software applications, websites and products. Our award-winning
            service helps clients across the globe react to changing market conditions and customer demands with the
            speed, scale and flexibility required to maximise returns.</p>
          <p style="text-align: justify;">Extending the traditional boundaries of development, we bring together
            specialists across a wide range of disciplines including User Experience, Content Strategy, Data Analytics,
            SEO, PPC and more, to deliver a tailored, comprehensive strategy that maximises exposure and impact far
            beyond the delivery of your product. Tight integration between each phase of your project is achieved
            through the adoption of an Agile web development framework that promotes flexibility, communication and
            collaboration, while maintaining a shared understanding of the project’s vision across all stakeholders.</p>
        </CardText>
        <div style="width: 100%; text-align: center;">
          <a href="/software" class="text-decoration-none">Learn about our solutions&nbsp;&nbsp;
            <Icon Name="IconName.BracesAsterisk" />
          </a>
        </div>
      </CardBody>
    </Card>
  </div>
  <div class="col-md-4 col-sm-12">
    <Card TextAlignment="Alignment.Start" Style="border: 0px;">
      <CardBody>
        <CardTitle><i>Consulting Solutions</i></CardTitle>
        <CardText>
          <p style="text-align: justify;">IT teams face constant pressure to focus on strategic initiatives and increase
            productivity while keeping costs low. We get it. That’s why our professional services team is there to help
            you get the most out of your IT solution. Our professional team is with you every step of the way, from
            assessing your environment and long-term objectives to designing and implementing a custom solution complete
            with hands-on training and ongoing support.</p>
        </CardText>
        <div style="width: 100%; text-align: center;">
          <a href="/software" class="text-decoration-none">Learn about our services&nbsp;&nbsp;
            <Icon Name="IconName.FileEasel" />
          </a>
        </div>
      </CardBody>
    </Card>
  </div>
</div>