@page "/portfolio"

<SeoHead Data="@_seo" />

<h1 class="visually-hidden">Portfolio - Client Testimonials</h1>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <Card TextAlignment="Alignment.Start" Style="border: 0px;">
      <CardBody>
        <CardTitle>
          <i>Turley's Place</i>
        </CardTitle>
        <CardText>
          <p style="text-align: justify;">I first met David Nuckolls over 12 years ago and over the years, we
                        have become not only business associates, but also great friends. I have never worked with
                        anyone quite as professional and detail oriented as David, who also adds the personal touch and
                        caters to his clients' individual needs.</p>
          <p style="text-align: justify;">I am an international recording artist and seasoned producer, who
                        has interacted with many record labels and managers, but no one has been more hands-on making
                        sure that I have everything that I need.</p>
          <p style="text-align: justify;">Being a blind man in a technologically advanced world, causes lots
                        of problems that most sighted people have difficulty conceptualizing. As a small example,
                        consider my screen reader for my computer: I was having difficulties learning the system, and
                        most likely would have given up on the computer world, but what did David do? He studied the
                        program (JAWS), and taught me the finer details of how to use it, which provided me a link to
                        the sighted world that I had never before realized. Whenever I am "stuck," David cheerfully
                        accesses my computer via remote sharing, and patiently walks me through the learning process.</p>
          <p style="text-align: justify;">I mention these things because I think it is important that the
                        reader understand how much David truly cares about his clients. If you are considering David as
                        someone to meet your needs in the computer world, I fully believe you will never find someone as
                        dedicated as he is to please you and do one hell of a great job.</p>
          <p style="text-align: justify;">
            <b>
              <i>~Turley Richards (Louisville KY)</i>
            </b>
            Producer, Singer, Songwriter, and
                        Author
          </p>
          <iframe style="width: 100%; height: 350px; border-radius: 25px;" class="embed-responsive-item" src="https://www.youtube.com/embed/XTfznC7Vvdg" title="GloryKidd Technologies Understands Our Clients" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" loading="lazy" allowfullscreen></iframe>
          <div style="width: 100%; text-align: center;">
            <a href="https://www.turleyrichards.com" class="text-decoration-none" target="_blank" rel="noopener noreferrer">
              Visit Turley's Place&nbsp;&nbsp;
              <Icon Name="IconName.Server" />
            </a>
          </div>
        </CardText>
      </CardBody>
    </Card>
  </div>
  <div class="col-md-6 col-sm-12">
    <Card TextAlignment="Alignment.Start" Style="border: 0px; padding-top: 50px;">
      <CardBody>
        <iframe style="width: 100%; height: 350px; border-radius: 25px;" class="embed-responsive-item" src="https://www.youtube.com/embed/HDWxwPGkKC4" title="GloryKidd Technologies Delivers" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" loading="lazy" allowfullscreen></iframe>
        <CardTitle>
          <i>
            <br />
            Advent Financial Systems
          </i>
        </CardTitle>
        <CardText>
          <p style="text-align: justify;">Advent and Glorykidd have been working together for more than ten years. During that time,
          David Nuckolls has developed multiple web and desktop applications for us that are used on a daily basis. He is always responsive
          to our needs and is very patient when explaining how things work. He has helped me personally with my attempt at learning how to
          read and write code so that I can do some of my own troubleshooting. Dave works hard to ensure that our programs are scalable and
          makes valuable suggestions on what further automation can be provided to make our processing more efficient. It is always a pleasure
          to work with him!</p>
          <p style="text-align: justify;">
            <b>
              <i>~Jennifer Hobbs</i>
            </b>
            , Director of Technology (Elizabethtown KY)
          </p>
        </CardText>
      </CardBody>
    </Card>
  </div>
</div>
<div class="row">
  <div class="col-12">&nbsp;</div>
</div>

@code {
    private readonly SeoPageData _seo = new(
        Title: "Portfolio - Client Testimonials | GloryKidd Technologies",
        Description: "See what our clients say about GloryKidd Technologies. Read testimonials from Turley Richards, Advent Financial Systems, and more.",
        CanonicalUrl: $"{SeoDefaults.BaseUrl}/portfolio"
    );
}
