@page "/software"

<SeoHead Data="@_seo" StructuredData="@_jsonLd" />

<h1 class="visually-hidden">Software Development &amp; Consulting Services</h1>

<div class="row">
  <div class="col-12" style="text-align: center;">
    <p style="font-size: 2em;">Define Your Digital Strategy</p>
    <p style="font-size: 1.25em;">~ How can we help make you successful ~</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <Card TextAlignment="Alignment.Center" Style="border: 0px;">
      <CardBody>
        <Icon Name="IconName.Bullseye" Size="IconSize.x1" />
        <CardTitle>
          <i>Strategic Focus</i>
        </CardTitle>
        <CardText>
          <p style="text-align: justify;">Focused on delivering solutions that provide maximum benefits for businesses and their end-users, we go beyond simply developing products and instead work closely with our clients at a strategic level. Through a collaborative and adaptive long-term approach our dedicated team of software consultants gain an in-depth knowledge of your business and industry that guides the direction of development and ensures every decision supports your ultimate goals.</p>
        </CardText>
      </CardBody>
    </Card>
  </div>
  <div class="col-sm-12 col-md-6">
    <Card TextAlignment="Alignment.Center" Style="border: 0px;">
      <CardBody>
        <Icon Name="IconName.CodeSlash" Size="IconSize.x1" />
        <CardTitle>
          <i>Technology Agnostic</i>
        </CardTitle>
        <CardText>
          <p style="text-align: justify;">Embracing the flexibility of a technology agnostic approach, our team is skilled in a wide range of tools, techniques and languages and work in multi-disciplined teams to maximise knowledge-sharing in a way that enables the project to quickly react to changing conditions and demands. Not constrained by technology limitations we place focus on gaining an in-depth understanding of your business and domain; with this knowledge driving all decisions we apply our technical insight to choose the tools that will help maximise speed, consistency, performance and returns throughout your project.</p>
        </CardText>
      </CardBody>
    </Card>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <Card TextAlignment="Alignment.Center" Style="border: 0px;">
      <CardBody>
        <Icon Name="IconName.GearWideConnected" Size="IconSize.x1" />
        <CardTitle>
          <i>Agile Approach</i>
        </CardTitle>
        <CardText>
          <p style="text-align: justify;">Our Agile software developers are skilled in a vast range of technologies, from the cutting-edge to the more familiar tried and tested. Our Agile approach is uniquely applied across the project lifecycle to remove barriers between the consultancy and software development stages; increasing the speed of delivery while never compromising on quality.</p>
        </CardText>
      </CardBody>
    </Card>
  </div>
  <div class="col-sm-12 col-md-6">
    <Card TextAlignment="Alignment.Center" Style="border: 0px;">
      <CardBody>
        <Icon Name="IconName.Puzzle" Size="IconSize.x1" />
        <CardTitle>
          <i>Development Process</i>
        </CardTitle>
        <CardText>
          <p style="text-align: justify;">Always be confident in the quality of delivery, knowing that we enforce software development "best practices" across every aspect of our processes. We employ industry-leading techniques such as automation, Test-Driven Development, Continuous Integration and Deployment-Minded Delivery to maximise the stability, security and scalability of your product. Our development team is committed to following rigorous coding standards and a series of robust architectural principles that support our stringent Quality Assurance (QA) procedures in ensuring delivery of the highest quality solutions.</p>
        </CardText>
      </CardBody>
    </Card>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12" style="text-align: center;">
    <p style="font-size: 2em;">Raise Your Team</p>
    <p style="font-size: 1.25em;">~ Our Professional Consulting Services can help improve you productivity ~</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <Card TextAlignment="Alignment.Center" Style="border: 0px;">
      <CardBody>
        <Icon Name="IconName.ShieldLock" Size="IconSize.x1" />
        <CardTitle>
          <i>Security Services</i>
        </CardTitle>
        <CardText>
          <p style="text-align: justify;">Security goes deeper than your hardware, software and applications. It touches every layer of your network infrastructure and requires a holistic defense strategy that aligns people, processes and policies. We prioritize security in everything that we do, but we also specialize in security assessments and overhauls to safeguard one of your most precious assets—your data.</p>
        </CardText>
      </CardBody>
    </Card>
  </div>
  <div class="col-sm-12 col-md-6">
    <Card TextAlignment="Alignment.Center" Style="border: 0px;">
      <CardBody>
        <Icon Name="IconName.Sliders" Size="IconSize.x1" />
        <CardTitle>
          <i>Technology and Workflow Optimizations</i>
        </CardTitle>
        <CardText>
          <p style="text-align: justify;">Our project managers and consultants work directly with you to design and implement every facet of your IT solution. After assessing your current environment and business objectives, they’ll produce a detailed project blueprint. Partnering with your existing staff, they'll oversee the full implementation of the solution. We help you maximize the return on your IT investments by supporting the full lifecycle of your important IT initiatives, from assessment and design to deployment and ongoing management. Our professional services team helps you assess your business objectives and identify opportunities for improvements; walks you through the design process by recommending relevant technologies and services; and oversees the full deployment of your solution.</p>
        </CardText>
      </CardBody>
    </Card>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <Card TextAlignment="Alignment.Center" Style="border: 0px;">
      <CardBody>
        <Icon Name="IconName.Wifi" Size="IconSize.x1" />
        <CardTitle>
          <i>Network Optimizations</i>
        </CardTitle>
        <CardText>
          <p style="text-align: justify;">There's more traffic on your network than ever before, and trends such as BYOD, video conferencing and virtualized computing are only getting bigger. Before you implement any new IT solution, our team will assess the impact on your network bandwidth and recommend upgrades as needed. From next generation network overhauls to WAN optimization, our priority is to keep your data moving.</p>
          <p style="text-align: justify;">Adding new branches? Planning a merger or acquisition? Migrating to the cloud? We'll help you optimize your network for the big changes.</p>
        </CardText>
      </CardBody>
    </Card>
  </div>
  <div class="col-sm-12 col-md-6">
    <Card TextAlignment="Alignment.Center" Style="border: 0px;">
      <CardBody>
        <Icon Name="IconName.BuildingGear" Size="IconSize.x1" />
        <CardTitle>
          <i>Managed Infrastructure</i>
        </CardTitle>
        <CardText>
          <p style="text-align: justify;">For most businesses, technology is a means to an end. The more time your team spends managing your infrastructure, the less time they have to work towards business objectives. GloryKidd can relieve some of this burden by helping you manage your most complex infrastructure, freeing you to focus on growing your business and delighting your customers. Our IT experts have the knowledge and experience to deliver a holistic solution providing global connectivity, colocation and managed cloud services tailored to your needs and goals.</p>
        </CardText>
      </CardBody>
    </Card>
  </div>
</div>

@code {
    private readonly SeoPageData _seo = new(
        Title: "Software Development & Consulting Services | GloryKidd Technologies",
        Description: "Custom software development, IT consulting, security services, network optimization, and managed infrastructure from GloryKidd Technologies.",
        CanonicalUrl: $"{SeoDefaults.BaseUrl}/software"
    );

    private readonly string _jsonLd = """
        {
            "@context": "https://schema.org",
            "@type": "ProfessionalService",
            "name": "GloryKidd Technologies",
            "url": "https://www.glorykidd.com/software",
            "serviceType": ["Custom Software Development", "IT Consulting", "Security Services", "Network Optimization", "Managed Infrastructure"]
        }
        """;
}
