<nav class="navbar navbar-expand-md mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="images/gk-logo-square.svg" class="image-icon" alt="GloryKidd Technologies logo" />
            <img src="images/elusive_logo.png" class="image-logo" alt="GloryKidd Technologies" />
        </a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation"
            @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-item link-secondary" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-item link-secondary" href="/portfolio">
                        Portfolio
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link link-secondary" href="/software">
                        Software & Consulting Service
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link link-secondary" href="/about">
                        About Us
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}